body {
	padding: 10px;
}

.remove {
	display: none;
}

.selected{
	color: red;
}

ul {
	list-style-type: none;
}

li {
	padding-left: 50px;
}

#myForm {
	border: 2px solid black;
	border-radius: 10px;
	width: 300px;
	padding-left: 125px;
	padding-top: 50px;
	height: 500px;
	background-color: #CCFFFF;
}


input {
	border: 1px solid #4A4C4A;
	border-radius: 5px;
	width: 150px;
	height: 30px;
}

input[type="text"], textarea {

  background-color : #efefef; 

}




